include ../head.pug
body
    h5.text-center This website was created to fulfill Web Technology module's requirements and does not represent an actual company or service
    .container.mt-5
      .row.d-flex.align-items-center
        .col-md-6
          h1 List
        .col-md-6.text-end
          a.btn.btn-success(href='/add', role='button') Add      
      table.table.table-responsive.table-success.table-striped
        thead
          tr
            th(scope="col") ID
            th(scope="col") Event Name
            th(scope="col") Event DateTime
            th(scope="col") Location
            th(scope="col") Description 
            th(scope="col")
        tbody
script.
  document.addEventListener('DOMContentLoaded', function() {
    axios.get('/api/event').then(function(response) {
      const events = response.data;
      const tableBody = document.querySelector('table tbody');
      events.forEach(e => {
        const row = document.createElement('tr');
        const event = e.event
        row.innerHTML = `
          <td>${e.id}</td>
          <td>${event.eventName}</td>
          <td>${event.eventDateTime}</td>
          <td>${event.eventLocation}</td>
          <td>${event.eventDescription}</td>
          <td>
            <button class="btn btn-primary btn-sm" data-id="${e.id}" onclick="window.location.href='/update/${e.id}'">Update</button>
            <button class="btn btn-danger btn-sm" data-id="${e.id}">Delete</button>
          </td>
        `;
        tableBody.appendChild(row);
      });
    })
    .catch(function(error) {
      console.log(error);
    });

    document.addEventListener('click', function(event) {
      if (event.target && event.target.classList.contains('btn-danger')) {
        const eventId = event.target.getAttribute('data-id');
        axios.delete(`/api/event/${eventId}`).then(function(response) {
          alert('Deleted successfully', response);
          location.href = '/'
        })
        .catch(function(error) {
          alert('Error deleting event: ' + error);
        });
      }
    });
    
  });

